*{
    margin: 3px;
    padding: 0;

}
.transition-1{
    height: 40px;
    width: 170px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: medium;
}

.transition-1:hover{
    cursor: pointer;
    background-color: rgb(56, 228, 228);
}